In [50]:
import numpy as np

In [40]:
import pandas as pd
df = pd.read_csv("../Documents/flights.csv", low_memory=False)

df = df[df["CANCELLED"] == 0]
df.drop(["TAXI_IN","WHEELS_ON","CANCELLED","YEAR","DIVERTED","WHEELS_OFF",'TAXI_OUT',"TAIL_NUMBER","CANCELLATION_REASON","AIR_SYSTEM_DELAY",'SECURITY_DELAY','AIRLINE_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY'],axis=1,inplace=True)

df.dropna(axis=0,inplace=True)

In [55]:
df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,ELAPSED_TIME,AIR_TIME,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,ORIGIN_AIRPORT_LAT,ORIGIN_AIRPORT_LON,DESTINATION_AIRPORT_LAN,DESTINATION_AIRPORT_LON
0,2015,1,1,4,AS,98,ANC,SEA,5,2354.0,...,194.0,169.0,1448,430,408.0,-22.0,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,LAX,PBI,10,2.0,...,279.0,263.0,2330,750,741.0,-9.0,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,SFO,CLT,20,18.0,...,293.0,266.0,2296,806,811.0,5.0,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,LAX,MIA,20,15.0,...,281.0,258.0,2342,805,756.0,-9.0,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,SEA,ANC,25,24.0,...,215.0,199.0,1448,320,259.0,-21.0,NaN,NaN,NaN,NaN

In [85]:
count = 0
for airport_name in location_daten.values:
    name = airport_name[0]
    lon = airport_name[-1]
    lat = airport_name[-2]
    count += 1
    print(count)
    df.loc[df[df['DESTINATION_AIRPORT'] == name].index, "DESTINATION_AIRPORT_LAN"] =  lat
    df.loc[df[df['DESTINATION_AIRPORT'] == name].index, "DESTINATION_AIRPORT_LON"] =  lon

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322

In [89]:
df.rename(columns={'DESTINATION_AIRPORT_LAN': 'DESTINATION_AIRPORT_LAT'}, inplace=True)

In [92]:
df[df['ORIGIN_AIRPORT'] == "ABE"].head(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,ELAPSED_TIME,AIR_TIME,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,ORIGIN_AIRPORT_LAT,ORIGIN_AIRPORT_LON,DESTINATION_AIRPORT_LAT,DESTINATION_AIRPORT_LON
288,2015,1,1,4,EV,5103,ABE,DTW,600,552.0,...,101.0,84.0,425,753,733.0,-20.0,40.65236,-75.4404,42.21206,-83.34884
656,2015,1,1,4,EV,5579,ABE,ATL,635,628.0,...,126.0,110.0,692,854,834.0,-20.0,40.65236,-75.4404,33.64044,-84.42694
9022,2015,1,1,4,EV,5267,ABE,ATL,1600,1600.0,...,119.0,103.0,692,1820,1759.0,-21.0,40.65236,-75.4404,33.64044,-84.42694
14510,2015,1,2,5,EV,5103,ABE,DTW,600,600.0,...,100.0,85.0,425,753,740.0,-13.0,40.65236,-75.4404,42.21206,-83.34884
14533,2015,1,2,5,EV,6144,ABE,ORD,600,607.0,...,139.0,125.0,654,720,726.0,6.0,40.65236,-75.4404,41.97960,-87.90446
15227,2015,1,2,5,EV,5579,ABE,ATL,635,627.0,...,143.0,120.0,692,854,850.0,-4.0,40.65236,-75.4404,33.64044,-84.42694
24898,2015,1,2,5,EV,5267,ABE,ATL,1600,1550.0,...,161.0,122.0,692,1820,1831.0,11.0,40.65236,-75.4404,33.64044,-84.42694
26122,2015,1,2,5,EV,5425,ABE,DTW,1715,1710.0,...,97.0,84.0,425,1905,1847.0,-18.0,40.65236,-75.4404,42.21206,-83.34884
31224,2015,1,3,6,EV,5103,ABE,DTW,600,603.0,...,99.0,78.0,425,752,742.0,-10.0,40.65236,-75.4404,42.21206,-83.34884
31239,2015,1,3,6,EV,6021,ABE,ORD,600,558.0,...,172.0,127.0,654,720,750.0,30.0,40.65236,-75.4404,41.97960,-87.90446

In [91]:
df.to_csv('./all_flights_with_lon_and_lat.csv', index = False)

In [78]:
df[df['ORIGIN_AIRPORT'] == "ABE"]["ORIGIN_AIRPORT_LAT"]

288        32.65658
656        32.65658
9022       32.65658
14510      32.65658
14533      32.65658
             ...
5785112    32.65658
5790298    32.65658
5791097    32.65658
5800400    32.65658
5801349    32.65658
Name: ORIGIN_AIRPORT_LAT, Length: 2227, dtype: object

In [88]:
location_daten.head(30)

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
5,ACK,Nantucket Memorial Airport,Nantucket,MA,USA,41.25305,-70.06018
6,ACT,Waco Regional Airport,Waco,TX,USA,31.61129,-97.23052
7,ACV,Arcata Airport,Arcata/Eureka,CA,USA,40.97812,-124.10862
8,ACY,Atlantic City International Airport,Atlantic City,NJ,USA,39.45758,-74.57717
9,ADK,Adak Airport,Adak,AK,USA,51.87796,-176.64603
10,ADQ,Kodiak Airport,Kodiak,AK,USA,57.74997,-152.49386
11,AEX,Alexandria International Airport,Alexandria,LA,USA,31.32737,-92.54856
12,AGS,Augusta Regional AirportÃ‚ (Bush Field),Augusta,GA,USA,33.36996,-81.96450
13,AKN,King Salmon Airport,King Salmon,AK,USA,58.67680,-156.64922
14,ALB,Albany International Airport,Albany,NY,USA,42.74812,-73.80298
15,ALO,Waterloo Regional Airport,Waterloo,IA,USA,42.55708,-92.40034
16,AMA,Rick Husband Amarillo International Airport,Amarillo,TX,USA,35.21937,-101.70593
17,ANC,Ted Stevens Anchorage International Airport,Anchorage,AK,USA,61.17432,-149.99619
18,APN,Alpena County Regional Airport,Alpena,MI,USA,45.07807,-83.56029
19,ASE,Aspen-Pitkin County Airport,Aspen,CO,USA,39.22316,-106.86885
20,ATL,Hartsfield-Jackson Atlanta International Airport,Atlanta,GA,USA,33.64044,-84.42694
21,ATW,Appleton International Airport,Appleton,WI,USA,44.25741,-88.51948
22,AUS,Austin-Bergstrom International Airport,Austin,TX,USA,30.19453,-97.66987
23,AVL,Asheville Regional Airport,Asheville,NC,USA,35.43619,-82.54181
24,AVP,Wilkes-Barre/Scranton International Airport,Wilkes-Barre/Scranton,PA,USA,41.33815,-75.72427
25,AZO,Kalamazoo/Battle Creek International Airport,Kalamazoo,MI,USA,42.23488,-85.55206
26,BDL,Bradley International Airport,Windsor Locks,CT,USA,41.93887,-72.68323
27,BET,Bethel Airport,Bethel,AK,USA,60.77978,-161.83800
28,BFL,Meadows Field,Bakersfield,CA,USA,35.43360,-119.05677
29,BGM,Greater Binghamton Airport,Binghamton,NY,USA,42.20848,-75.97961

In [43]:
location_daten = pd.read_csv("./airports.csv")
location_daten.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [48]:
location_daten.iloc[1,:]

IATA_CODE                         ABI
AIRPORT      Abilene Regional Airport
CITY                          Abilene
STATE                              TX
COUNTRY                           USA
LATITUDE                     32.41132
LONGITUDE                    -99.6819
Name: 1, dtype: object

In [93]:
final = pd.read_csv('./all_flights_with_lon_and_lat.csv', low_memory = False)
final.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,ELAPSED_TIME,AIR_TIME,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,ORIGIN_AIRPORT_LAT,ORIGIN_AIRPORT_LON,DESTINATION_AIRPORT_LAT,DESTINATION_AIRPORT_LON
0,2015,1,1,4,AS,98,ANC,SEA,5,2354.0,...,194.0,169.0,1448,430,408.0,-22.0,61.17432,-149.99619,47.44898,-122.30931
1,2015,1,1,4,AA,2336,LAX,PBI,10,2.0,...,279.0,263.0,2330,750,741.0,-9.0,33.94254,-118.40807,26.68316,-80.09559
2,2015,1,1,4,US,840,SFO,CLT,20,18.0,...,293.0,266.0,2296,806,811.0,5.0,37.61900,-122.37484,35.21401,-80.94313
3,2015,1,1,4,AA,258,LAX,MIA,20,15.0,...,281.0,258.0,2342,805,756.0,-9.0,33.94254,-118.40807,25.79325,-80.29056
4,2015,1,1,4,AS,135,SEA,ANC,25,24.0,...,215.0,199.0,1448,320,259.0,-21.0,47.44898,-122.30931,61.17432,-149.99619

In [30]:
#df.isnull().sum()

YEAR                   0
MONTH                  0
DAY                    0
DAY_OF_WEEK            0
AIRLINE                0
FLIGHT_NUMBER          0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
SCHEDULED_DEPARTURE    0
DEPARTURE_TIME         0
DEPARTURE_DELAY        0
WHEELS_OFF             0
SCHEDULED_TIME         0
ELAPSED_TIME           0
AIR_TIME               0
DISTANCE               0
WHEELS_ON              0
TAXI_IN                0
SCHEDULED_ARRIVAL      0
ARRIVAL_TIME           0
ARRIVAL_DELAY          0
DIVERTED               0
CANCELLED              0
dtype: int64

In [31]:
#for i in range(1,13):
#    for k in range(1,21,10):
#        temp = df[df["MONTH"]==i]
#        print(temp[temp["DAY"]==k].shape)

(13464, 23)
(14339, 23)
(11352, 23)
(15471, 23)
(13513, 23)
(16525, 23)
(16642, 23)
(13291, 23)
(16816, 23)
(16557, 23)
(16390, 23)
(17075, 23)
(16700, 23)
(14835, 23)
(14742, 23)
(16635, 23)
(16158, 23)
(15656, 23)
(16541, 23)
(15731, 23)
(15529, 23)
(16016, 23)
(15727, 23)
(16209, 23)

In [32]:
#df.DAY.nunique()

31

In [33]:
#df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED
0,2015,1,1,4,AS,98,ANC,SEA,5,2354.0,...,194.0,169.0,1448,404.0,4.0,430,408.0,-22.0,0,0
1,2015,1,1,4,AA,2336,LAX,PBI,10,2.0,...,279.0,263.0,2330,737.0,4.0,750,741.0,-9.0,0,0
2,2015,1,1,4,US,840,SFO,CLT,20,18.0,...,293.0,266.0,2296,800.0,11.0,806,811.0,5.0,0,0
3,2015,1,1,4,AA,258,LAX,MIA,20,15.0,...,281.0,258.0,2342,748.0,8.0,805,756.0,-9.0,0,0
4,2015,1,1,4,AS,135,SEA,ANC,25,24.0,...,215.0,199.0,1448,254.0,5.0,320,259.0,-21.0,0,0

In [12]:
df.iloc[-10:]

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,ELAPSED_TIME,AIR_TIME,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,ORIGIN_AIRPORT_LAT,ORIGIN_AIRPORT_LON,DESTINATION_AIRPORT_LAT,DESTINATION_AIRPORT_LON
5713998,2015,12,31,4,B6,1248,LAS,JFK,2359,238.0,...,282.0,243.0,2248,741,1020.0,159.0,36.08036,-115.15233,40.63975,-73.77893
5713999,2015,12,31,4,B6,80,RNO,JFK,2359,2359.0,...,285.0,268.0,2411,805,744.0,-21.0,39.49858,-119.76806,40.63975,-73.77893
5714000,2015,12,31,4,B6,802,SLC,MCO,2359,15.0,...,250.0,211.0,1931,608,625.0,17.0,40.78839,-111.97777,28.42889,-81.31603
5714001,2015,12,31,4,B6,98,DEN,JFK,2359,6.0,...,193.0,173.0,1626,530,519.0,-11.0,39.85841,-104.66700,40.63975,-73.77893
5714002,2015,12,31,4,B6,66,ABQ,JFK,2359,15.0,...,214.0,190.0,1826,546,549.0,3.0,35.04022,-106.60919,40.63975,-73.77893
5714003,2015,12,31,4,B6,688,LAX,BOS,2359,2355.0,...,298.0,272.0,2611,819,753.0,-26.0,33.94254,-118.40807,42.36435,-71.00518
5714004,2015,12,31,4,B6,745,JFK,PSE,2359,2355.0,...,215.0,195.0,1617,446,430.0,-16.0,40.63975,-73.77893,18.00830,-66.56301
5714005,2015,12,31,4,B6,1503,JFK,SJU,2359,2350.0,...,222.0,197.0,1598,440,432.0,-8.0,40.63975,-73.77893,18.43942,-66.00183
5714006,2015,12,31,4,B6,333,MCO,SJU,2359,2353.0,...,157.0,144.0,1189,340,330.0,-10.0,28.42889,-81.31603,18.43942,-66.00183
5714007,2015,12,31,4,B6,839,JFK,BQN,2359,14.0,...,208.0,189.0,1576,440,442.0,2.0,40.63975,-73.77893,18.49486,-67.12944

In [13]:
url = 'https://gist.githubusercontent.com/florianeichin/cfa1705e12ebd75ff4c321427126ccee/raw/c86301a0e5d0c1757d325424b8deec04cc5c5ca9/flights_all_cleaned.csv'
df_flo = pd.read_csv(url, low_memory = False)
df_flo.head()

,Unnamed: 0,YEAR,MONTH,DAY,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_DELAY,...,ELAPSED_TIME,DISTANCE,SCHEDULED_DESTINATION,DESTINATION_DELAY,ORIGIN_AIRPORT_POS,ORIGIN_AIRPORT_LAT,ORIGIN_AIRPORT_LON,DESTINATION_AIRPORT_POS,DESTINATION_AIRPORT_LAT,DESTINATION_AIRPORT_LON
0,0,2015,1,1,AS,98,ANC,SEA,2015-01-01 00:05:00,-11.0,...,194.0,1448,2015-01-01 03:30:00,-22.0,"{'lat': 61.174319999999994, 'lon': -149.996189...",61.17432,-149.99619,"{'lat': 47.44898, 'lon': -122.30931000000001}",47.44898,-122.30931
1,1,2015,1,1,AA,2336,LAX,PBI,2015-01-01 00:10:00,-8.0,...,279.0,2330,2015-01-01 04:50:00,-9.0,"{'lat': 33.94254, 'lon': -118.40807}",33.94254,-118.40807,"{'lat': 26.683159999999997, 'lon': -80.09559}",26.68316,-80.09559
2,2,2015,1,1,US,840,SFO,CLT,2015-01-01 00:20:00,-2.0,...,293.0,2296,2015-01-01 05:06:00,5.0,"{'lat': 37.619, 'lon': -122.37483999999999}",37.61900,-122.37484,"{'lat': 35.214009999999995, 'lon': -80.9431300...",35.21401,-80.94313
3,3,2015,1,1,AA,258,LAX,MIA,2015-01-01 00:20:00,-5.0,...,281.0,2342,2015-01-01 05:05:00,-9.0,"{'lat': 33.94254, 'lon': -118.40807}",33.94254,-118.40807,"{'lat': 25.79325, 'lon': -80.29056}",25.79325,-80.29056
4,4,2015,1,1,AS,135,SEA,ANC,2015-01-01 00:25:00,-1.0,...,215.0,1448,2015-01-01 04:20:00,-21.0,"{'lat': 47.44898, 'lon': -122.30931000000001}",47.44898,-122.30931,"{'lat': 61.174319999999994, 'lon': -149.996189...",61.17432,-149.99619

In [14]:
df_flo.iloc[-10:]

,Unnamed: 0,YEAR,MONTH,DAY,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_DELAY,...,ELAPSED_TIME,DISTANCE,SCHEDULED_DESTINATION,DESTINATION_DELAY,ORIGIN_AIRPORT_POS,ORIGIN_AIRPORT_LAT,ORIGIN_AIRPORT_LON,DESTINATION_AIRPORT_POS,DESTINATION_AIRPORT_LAT,DESTINATION_AIRPORT_LON
13437,13939,2015,1,1,B6,66,ABQ,JFK,2015-01-01 23:59:00,58.0,...,216.0,1826,2015-01-02 03:46:00,47.0,"{'lat': 35.04022, 'lon': -106.60918999999998}",35.04022,-106.60919,"{'lat': 40.63975, 'lon': -73.77893}",40.63975,-73.77893
13438,13940,2015,1,1,B6,361,BOS,SJU,2015-01-01 23:59:00,-6.0,...,210.0,1674,2015-01-02 03:55:00,-32.0,"{'lat': 42.36435, 'lon': -71.00518000000001}",42.36435,-71.00518,"{'lat': 18.439420000000002, 'lon': -66.00183}",18.43942,-66.00183
13439,13941,2015,1,1,B6,802,SLC,MCO,2015-01-01 23:59:00,46.0,...,256.0,1931,2015-01-02 04:13:00,48.0,"{'lat': 40.78839, 'lon': -111.97776999999999}",40.78839,-111.97777,"{'lat': 28.428890000000003, 'lon': -81.31603}",28.42889,-81.31603
13440,13942,2015,1,1,B6,745,JFK,PSE,2015-01-01 23:59:00,24.0,...,202.0,1617,2015-01-02 03:46:00,-1.0,"{'lat': 40.63975, 'lon': -73.77893}",40.63975,-73.77893,"{'lat': 18.0083, 'lon': -66.56300999999999}",18.00830,-66.56301
13441,13943,2015,1,1,B6,778,LAS,BOS,2015-01-01 23:59:00,68.0,...,268.0,2381,2015-01-02 04:49:00,46.0,"{'lat': 36.08036, 'lon': -115.15233}",36.08036,-115.15233,"{'lat': 42.36435, 'lon': -71.00518000000001}",42.36435,-71.00518
13442,13944,2015,1,1,B6,839,JFK,BQN,2015-01-01 23:59:00,-8.0,...,200.0,1576,2015-01-02 03:40:00,-29.0,"{'lat': 40.63975, 'lon': -73.77893}",40.63975,-73.77893,"{'lat': 18.49486, 'lon': -67.12944}",18.49486,-67.12944
13443,13945,2015,1,1,B6,1503,JFK,SJU,2015-01-01 23:59:00,50.0,...,206.0,1598,2015-01-02 03:40:00,35.0,"{'lat': 40.63975, 'lon': -73.77893}",40.63975,-73.77893,"{'lat': 18.439420000000002, 'lon': -66.00183}",18.43942,-66.00183
13444,13946,2015,1,1,F9,300,DEN,TPA,2015-01-01 23:59:00,-10.0,...,205.0,1506,2015-01-02 03:11:00,3.0,"{'lat': 39.85841, 'lon': -104.667}",39.85841,-104.66700,"{'lat': 27.97547, 'lon': -82.53325}",27.97547,-82.53325
13445,13947,2015,1,1,F9,422,DEN,ATL,2015-01-01 23:59:00,47.0,...,170.0,1199,2015-01-02 02:41:00,55.0,"{'lat': 39.85841, 'lon': -104.667}",39.85841,-104.66700,"{'lat': 33.640440000000005, 'lon': -84.42694}",33.64044,-84.42694
13446,13948,2015,1,1,OO,5557,LAX,SAT,2015-01-01 23:59:00,-9.0,...,166.0,1211,2015-01-02 02:47:00,-11.0,"{'lat': 33.94254, 'lon': -118.40807}",33.94254,-118.40807,"{'lat': 29.533690000000004, 'lon': -98.46978}",29.53369,-98.46978

In [15]:
df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,ELAPSED_TIME,AIR_TIME,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,ORIGIN_AIRPORT_LAT,ORIGIN_AIRPORT_LON,DESTINATION_AIRPORT_LAT,DESTINATION_AIRPORT_LON
0,2015,1,1,4,AS,98,ANC,SEA,5,2354.0,...,194.0,169.0,1448,430,408.0,-22.0,61.17432,-149.99619,47.44898,-122.30931
1,2015,1,1,4,AA,2336,LAX,PBI,10,2.0,...,279.0,263.0,2330,750,741.0,-9.0,33.94254,-118.40807,26.68316,-80.09559
2,2015,1,1,4,US,840,SFO,CLT,20,18.0,...,293.0,266.0,2296,806,811.0,5.0,37.61900,-122.37484,35.21401,-80.94313
3,2015,1,1,4,AA,258,LAX,MIA,20,15.0,...,281.0,258.0,2342,805,756.0,-9.0,33.94254,-118.40807,25.79325,-80.29056
4,2015,1,1,4,AS,135,SEA,ANC,25,24.0,...,215.0,199.0,1448,320,259.0,-21.0,47.44898,-122.30931,61.17432,-149.99619