In [6]:
#Anzahl der Fl√ºge pro Airline im Vergleich zur geflogenen Distanz
import pandas as pd

df = pd.read_csv('./all_flights_with_lon_and_lat.csv')

airline_counts = df.groupby('AIRLINE').agg({'FLIGHT_NUMBER': 'count', 'DISTANCE': 'sum'})
airline_counts = airline_counts.sort_values('FLIGHT_NUMBER', ascending=True)

airline_counts.head(100)

/var/folders/w9/cp9skk3x10v4chw5nn5b5dxr0000gn/T/ipykernel_27624/2652905196.py:3: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./all_flights_with_lon_and_lat.csv')

         FLIGHT_NUMBER   DISTANCE
AIRLINE
VX               61248   86015315
HA               76041   48059967
F9               90090   87131086
NK              115193  113554532
AS              171439  205501421
US              194223  177787900
B6              262042  278563818
MQ              278791  117834199
UA              507762  645712785
EV              554752  256130025
OO              576814  287096076
AA              712935  743143898
DL              870275  742864113
WN             1242403  921558206

In [7]:
airline_counts.shape
airline_counts.to_csv('./airline_counts.csv')